.advertise {
    position: relative;
}

.advertise::before {
    content: "读书笔记";
    position: absolute;
    top: 180px;
    left: 470px;
    font-size: 70px;
    font-weight: 1000;
}

.advertise::after {
    content: '随着社交媒体和影响者文化的兴起，博客似乎已经达到顶峰。不再局限小众爱好，现在几乎每个人都拥有某种形式的博客。对于那些还没有跟上潮流的人来说，博客有很多吸引力。但事实是，你的成功程度取决于你为什么以及你写博客的目的。您可能希望创建博客的原因有很多，同样，您不应该创建博客的原因也很多，此网站为大家提供免费，实用，简洁的个人博客系统，正如，好记性不如烂笔头，我们可以将自己的所见、所闻。所感记录下来。欢迎大家使用“好记性博客系统”。右上角注册、登录之后就可以发布文章博客。由于笔者水平有限，系统难免存在不足指出，感谢反馈。';
    top: 320px;
    position: absolute;
    left: 300px;
    width: 600px;
}